
<button class="btn btn-primary" id="btnlogin">Login com Google</button>




<script type="module" src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js"></script>
<script type="module" src="./auth.js"></script>